.jumbotron{
    background: url("../imagem/wallpaper-jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    color: black;
}